{% extends "eCommerce/layout.html" %}
{% block content %}
<br>
<br>
<br>
<h2>Carrito</h2>
   
<div class="alert alert-info" role="alert"></div>
        
        
        <li>No hay Productos para mostrar.</li>
        
        
       
    
{% endblock %}