{% extends "eCommerce/layout.html" %}
{% block content %}
<br>
<br>
<br>
<h2>Nuestra Historia</h2>
<div class="alert alert-info" role="alert"></div>
   <p>
    Llevamos 38 años de trayectoria y experiencia en el rubro. 
    Atendemos a todo tipo de clientes que necesiten de los mejores servicios y 
    productos en la provincia de Misiones y su zona de influencia.
   </p>
    
{% endblock %}