{% extends "eCommerce/layout.html" %}
{% block content %}
<br>
<br>
<br>
<h2>Resultado de Busqueda</h2>
<div class="alert alert-info" role="alert"></div>
    {% for un_articulo in lista_articulos %}
    <li>
    <div class="alert alert-info" role="alert">{{ filtro_articulos }}</div>
            
    {% empty %}
            <li>No hay Productos para mostrar.</li>
    </li>
    {% endfor %}
{% endblock %}