{% extends "eCommerce/layout.html" %}
{% block content %}
    <h2>Productos</h2>
    {% if seccion_seleccionada %}
        <div class="alert alert-info" role="alert">{{ seccion_seleccionada }}</div>
    {% else %}
        <div class="alert alert-info" role="alert">Todos los Productos</div>
    {% endif %}
    <ul>
        {% for un_producto in lista_productos %}
            <li>              
                <a href="{% url 'sitio:producto' un_producto.id %}">Ver #{{un_producto.id}}</a> /                
                {% if perms.sitio.change_producto %}
                <a href="{% url 'sitio:producto_editar' un_producto.id %}">Modificar</a> / 
                {% endif %}
                {% if perms.sitio.delete_producto %} 
                <a href="{% url 'sitio:producto_eliminar' un_producto.id %}">Eliminar</a>  
                {% endif %}
                --- {{un_producto}}
            </li>
        {% empty %}
            <li>No hay productos en ésta Sección.</li>
        {% endfor %}
    </ul>
    {% if perms.sitio.add_producto %}
    <a href="{% url 'sitio:producto_alta'%}">Escribir un Producto</a>
    <br>
    <br>
    <h3>Ver mas tarde</h3>
    <ul>
        {% for articulo in ver_mas_tarde %}
            <li>{{producto}}</li>
        {% empty %}
            <li>No hay productos para ver mas tarde.</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}