{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>JAGUARETE KAA S.A.</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="{% static 'estilos.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <script src="{% static 'scripts.js' %}"></script>
    </head>
    <header id="encabezado">
        <br>
        <h1><img src="static\images\logoempresa.png" id="Logo_Empresa" style="width:80px;height:70px;">  YAGUARETE KAA S.A.</img></h1>
        <div style="float: right">
            <div id="usuario" class="navbar navbar-expand-lg navbar-light bg-light">
                <div id="bloque_usuario">
                    {% if user.is_authenticated %}
                        Estas conectado como: {{ user.get_username }} <a role="button" class="btn btn-outline-warning btn-sm" href="{% url 'logout'%}?next={{request.path}}">Salir</a>
                    {% else %}                  
                        <a role="button" class="btn btn-outline-success btn-sm" href="{% url 'login'%}?next={{request.path}}">LOGIN</a>
                    {% endif %} 
                </div>
                <div id="bloque_usuario">
                    {% if user.is_authenticated %}
                    {% else %}  
                        <a role="button" class="btn btn-outline-success btn-sm" href="eCommerce/registro.html">REGISTRO</a>
                    {% endif %} 
                </div>
                <div id="bloque_carrito">
                    {% if user.is_authenticated %}
                    {% else %} 
                    <a role="button" class="btn btn-outline-success btn-sm" href="{% url 'sitio:carrito' %}">CARRITO</a>
                    {% endif %} 
                </div>

            </div>
        </div>
    </header>
    <nav>
        <div>
            <nav id="menu_principal" class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sitio:index' %}">
                            HOME
                        </a>
                        
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            CATEGORIAS
                            </a>
                            <div class="dropdown-menu">
                                {% for seccion in lista_secciones %}
                                    <a class="dropdown-item" href="{% url 'sitio:filtro_secciones' seccion.id%}">{{ seccion }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sitio:pantallaDeAcercaDe' %}">
                            ACERCA DE...
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='mailto:contacto@yaguaretekaasa.com'>
                            CONTACTO
                        </a>
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}

                        <a class="nav-link" href="{% url 'sitio:articulo_alta' %}">
                            NUEVO PRODUCTO
                        </a>
                    
                        {% else %} 

                        {% endif %} 

                    </li>
                    <li class="nav-item">
                        <input type="text" placeholder="BUSCAR">
                        <a class="nav-link" href="{% url 'sitio:resultadoDeBusqueda' %}">
                            <img src="static\images\lupa.png" style="text-align: center"></imp>
                        </a>
                    </li>
                <ul>
            </nav>
        </div> 
    </nav>
    <body>
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <footer style="background-color: rgb(191, 194, 33); text-align: center;">
        <p>YAGUARETE KAA S.A. </p>
        <P>Desarrollador: Fernando Molina</P>
        <p>All rights reserved Todos los derechos reservados</p>
   </footer>
</html>