{% extends "eCommerce/layout.html" %}
{% block content %}
<h3>Editar un Producto</h3>
<div class="alert alert-info" role="alert"></div>
<form enctype="multipart/form-data" action="{% url 'sitio:producto_editar' producto.id %}" method="post" >
    {% csrf_token %}
    <div class="form-group row">
        <label for="categoria_input"  class="col-sm-2 col-form-label">Categoria:</label> {{ form.categoria }} {{ form.categoria.errors }}
    </div>
    <div class="form-group row">
        <label for="nombre_input"  class="col-sm-2 col-form-label">Nombre:</label> {{ form.nombre }} {{ form.nombre.errors }}
    </div>
    <div class="form-group row">
        <label for="precio_input"  class="col-sm-2 col-form-label">Precio:</label> {{ form.precio }} {{ form.precio.errors }}
    </div>
    <div class="form-group row">
        <label for="imagen_input"  class="col-sm-2 col-form-label">Imagen Adjunta:</label> {{ form.imagen }} {{ form.imagen.errors }}
    </div>
    <div class="form-group row"  class="col-sm-2 col-form-label">
        <label for="contenido_input">Contenido:</label> {{ form.contenido }} {{ form.contenido.errors }}
        <script>$("#id_contenido").removeAttr("required");</script>
    </div>
    <div class="col-auto">
        <a class="btn btn-secondary" href="{% url 'sitio:index'%}">Volver</a>
        <input type="submit" class="btn btn-primary" value="Editar">
    </div>
</form>
<a href="{% url 'sitio:index'%}">Volver</a>
{% endblock %}
