{% extends "eCommerce/layout.html" %}
{% block content %}
<h2>{{ producto.nombre }}</h2>
<div class="alert alert-info" role="alert"></div>
<div class="alert alert-info" role="alert">{{ producto.categoria }}</div>
<p><span class="precio" >{{ producto.precio }}</span></p>
<a href="{% url 'sitio:ver_mas_tarde' producto.id %}">Ver Mas Tarde</a>
<p><img src="{{ media_url  }}{{ producto.imagen.url }}" alt="{{ producto.imagen.name }}" /></p>
<h3>Contenido:</h3>
<p id="contenido">{{ producto.contenido |safe }}</p>
<p>Publicado por <span class="badge badge-secondary">{{ producto.moderador }}</span></p>
<a href="{% url 'sitio:index'%}">Volver</a>
{% endblock %}
